html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code
	, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio,
	video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	}

body {
	box-sizing: border-box;;
}

header{
	margin: 1em auto;
	width: 90%;
	height: 2em;
	background-color: #fff;
	border-bottom: solid 0.01em #000;
}

nav {
	width: 90%;
	margin:auto;
}

ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

ul li a{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 1.2em;
	color: #000;
	margin-bottom: 1em;
}

.none{
	display: none;
}

#Start{
	margin: 1em auto;
  width: 20em;
}

h1{
	font-family: sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

#movies{
	margin: 1em auto;
  width: 70%;
}

#moviemain{
	margin: 1em auto;
  width: 70%;
}

#movies>p{
	text-align: center;
	font-family: cursive;
}

#activities{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
}

#activities ul{
	width: 20em;
	height: 25em;
	padding: 1em;
	margin: 1em;
	background-color: #ccc;
}

.display_title{
	font-family: sans-serif;
	font-size: 2em;
	max-width: 2em;
}

.summary{
	font-family: sans-serif;
	font-size: 0.8em;
}
